<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exl_si.mapper.EventPictureMapper">
  <resultMap id="BaseResultMap" type="com.exl_si.db.EventPicture">
    <constructor>
      <arg column="event_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="type" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="index" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="name_old" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="name_new" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="path" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <insert id="insert" parameterType="com.exl_si.db.EventPicture">
    insert into event_picture (event_id, type, index, 
      name_old, name_new, path
      )
    values (#{eventId,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, #{index,jdbcType=INTEGER}, 
      #{nameOld,jdbcType=VARCHAR}, #{nameNew,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.exl_si.db.EventPicture">
    insert into event_picture
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="eventId != null">
        event_id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="index != null">
        index,
      </if>
      <if test="nameOld != null">
        name_old,
      </if>
      <if test="nameNew != null">
        name_new,
      </if>
      <if test="path != null">
        path,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="eventId != null">
        #{eventId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="index != null">
        #{index,jdbcType=INTEGER},
      </if>
      <if test="nameOld != null">
        #{nameOld,jdbcType=VARCHAR},
      </if>
      <if test="nameNew != null">
        #{nameNew,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
	<!-- created -->
	<insert id="batchInsert" parameterType="list">
	    insert into event_picture 
		(
			event_id, type, index, name_old, name_new, path
      	)
	    values
	    <foreach collection="items" index="index" item="item" separator=",">
	      (
		      #{item.eventId,jdbcType=INTEGER}, #{item.type,jdbcType=VARCHAR}, #{item.index,jdbcType=INTEGER}, 
      		#{item.nameOld,jdbcType=VARCHAR}, #{item.nameNew,jdbcType=VARCHAR}, #{item.path,jdbcType=VARCHAR}
	      )
	    </foreach>
	</insert>
</mapper>