<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exl_si.generated.dao.EventPictureMapper">
  <resultMap id="BaseResultMap" type="com.exl_si.generated.db.EventPicture">
    <constructor>
      <arg column="event_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="type" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="index" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="url" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <insert id="insert" parameterType="com.exl_si.generated.db.EventPicture">
    insert into event_picture (event_id, type, index, 
      url)
    values (#{eventId,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, #{index,jdbcType=INTEGER}, 
      #{url,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.exl_si.generated.db.EventPicture">
    insert into event_picture
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="eventId != null">
        event_id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="index != null">
        index,
      </if>
      <if test="url != null">
        url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="eventId != null">
        #{eventId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="index != null">
        #{index,jdbcType=INTEGER},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>