<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exl_si.generated.dao.SIMemberMapper">
  <resultMap id="BaseResultMap" type="com.exl_si.generated.db.SIMember">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="username" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="password" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="realname" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sex" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="age" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="dob" javaType="java.util.Date" jdbcType="DATE" />
      <arg column="phone" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="email" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="occupation" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="interested" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="userType" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="agentName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="agentAccount" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="premier" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="profilePicture" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="createTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="lastLoginTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="updateTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="loginTimes" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="status" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="remark" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, username, password, realname, sex, age, dob, phone, email, occupation, interested, 
    userType, agentName, agentAccount, premier, profilePicture, createTime, lastLoginTime, 
    updateTime, loginTimes, status, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from si_member
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from si_member
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.exl_si.generated.db.SIMember">
    insert into si_member (id, username, password, 
      realname, sex, age, 
      dob, phone, email, occupation, 
      interested, userType, agentName, 
      agentAccount, premier, profilePicture, 
      createTime, lastLoginTime, updateTime, 
      loginTimes, status, remark
      )
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{realname,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, 
      #{dob,jdbcType=DATE}, #{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{occupation,jdbcType=VARCHAR}, 
      #{interested,jdbcType=VARCHAR}, #{usertype,jdbcType=VARCHAR}, #{agentname,jdbcType=VARCHAR}, 
      #{agentaccount,jdbcType=VARCHAR}, #{premier,jdbcType=INTEGER}, #{profilepicture,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{lastlogintime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{logintimes,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.exl_si.generated.db.SIMember">
    insert into si_member
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="realname != null">
        realname,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="dob != null">
        dob,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="occupation != null">
        occupation,
      </if>
      <if test="interested != null">
        interested,
      </if>
      <if test="usertype != null">
        userType,
      </if>
      <if test="agentname != null">
        agentName,
      </if>
      <if test="agentaccount != null">
        agentAccount,
      </if>
      <if test="premier != null">
        premier,
      </if>
      <if test="profilepicture != null">
        profilePicture,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="lastlogintime != null">
        lastLoginTime,
      </if>
      <if test="updatetime != null">
        updateTime,
      </if>
      <if test="logintimes != null">
        loginTimes,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="realname != null">
        #{realname,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=INTEGER},
      </if>
      <if test="dob != null">
        #{dob,jdbcType=DATE},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="occupation != null">
        #{occupation,jdbcType=VARCHAR},
      </if>
      <if test="interested != null">
        #{interested,jdbcType=VARCHAR},
      </if>
      <if test="usertype != null">
        #{usertype,jdbcType=VARCHAR},
      </if>
      <if test="agentname != null">
        #{agentname,jdbcType=VARCHAR},
      </if>
      <if test="agentaccount != null">
        #{agentaccount,jdbcType=VARCHAR},
      </if>
      <if test="premier != null">
        #{premier,jdbcType=INTEGER},
      </if>
      <if test="profilepicture != null">
        #{profilepicture,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastlogintime != null">
        #{lastlogintime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="logintimes != null">
        #{logintimes,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.exl_si.generated.db.SIMember">
    update si_member
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="realname != null">
        realname = #{realname,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="dob != null">
        dob = #{dob,jdbcType=DATE},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="occupation != null">
        occupation = #{occupation,jdbcType=VARCHAR},
      </if>
      <if test="interested != null">
        interested = #{interested,jdbcType=VARCHAR},
      </if>
      <if test="usertype != null">
        userType = #{usertype,jdbcType=VARCHAR},
      </if>
      <if test="agentname != null">
        agentName = #{agentname,jdbcType=VARCHAR},
      </if>
      <if test="agentaccount != null">
        agentAccount = #{agentaccount,jdbcType=VARCHAR},
      </if>
      <if test="premier != null">
        premier = #{premier,jdbcType=INTEGER},
      </if>
      <if test="profilepicture != null">
        profilePicture = #{profilepicture,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastlogintime != null">
        lastLoginTime = #{lastlogintime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="logintimes != null">
        loginTimes = #{logintimes,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.exl_si.generated.db.SIMember">
    update si_member
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      realname = #{realname,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      dob = #{dob,jdbcType=DATE},
      phone = #{phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      occupation = #{occupation,jdbcType=VARCHAR},
      interested = #{interested,jdbcType=VARCHAR},
      userType = #{usertype,jdbcType=VARCHAR},
      agentName = #{agentname,jdbcType=VARCHAR},
      agentAccount = #{agentaccount,jdbcType=VARCHAR},
      premier = #{premier,jdbcType=INTEGER},
      profilePicture = #{profilepicture,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      lastLoginTime = #{lastlogintime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP},
      loginTimes = #{logintimes,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>