<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exl_si.mapper.SIMerchantMapper">
	<resultMap id="BaseResultMap" type="com.exl_si.db.SIMerchant">
    <constructor>
      <arg column="id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="companyName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="companyRegNo" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="totalStaff" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="companyType" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="industryType" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="companyAddress" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="expiredDateSSM" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="username" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="password" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="userTitle" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="realName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="dob" javaType="java.util.Date" jdbcType="DATE" />
      <arg column="companyLogo" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="geographic" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="tagline" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="credentialNo" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="credentialType" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="email" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="phone" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="officePhone" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="facebook" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="googlePlus" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="companyDiscription" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="createTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="lastLoginTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="lastUpdateTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="lastLoginPICType" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="lastLoginPICId" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="loginTimes" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="status" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="reject_reason" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, companyName, companyRegNo, 
      totalStaff, companyType, industryType, 
      companyAddress, expiredDateSSM, username, 
      password, userTitle, realName, 
      dob, companyLogo, geographic, 
      tagline, credentialNo, 
      credentialType, email, phone, 
      officePhone, facebook, googlePlus, 
      companyDiscription, createTime, lastLoginTime, 
      lastUpdateTime, lastLoginPICType, lastLoginPICId, 
      loginTimes, status, reject_reason
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from si_merchant
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from si_merchant
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.exl_si.db.SIMerchant">
    insert into si_merchant (id, companyName, companyRegNo, 
      totalStaff, companyType, industryType, 
      companyAddress, expiredDateSSM, username, 
      password, userTitle, realName, 
      dob, companyLogo, geographic, 
      tagline, credentialNo, 
      credentialType, email, phone, 
      officePhone, facebook, googlePlus, 
      companyDiscription, createTime, lastLoginTime, 
      lastUpdateTime, lastLoginPICType, lastLoginPICId, 
      loginTimes, status, reject_reason)
    values (#{id,jdbcType=VARCHAR}, #{companyname,jdbcType=VARCHAR}, #{companyregno,jdbcType=VARCHAR}, 
      #{totalstaff,jdbcType=INTEGER}, #{companytype,jdbcType=VARCHAR}, #{industrytype,jdbcType=VARCHAR}, 
      #{companyaddress,jdbcType=VARCHAR}, #{expireddatessm,jdbcType=TIMESTAMP}, #{username,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{usertitle,jdbcType=VARCHAR}, #{realname,jdbcType=VARCHAR}, 
      #{dob,jdbcType=DATE}, #{companylogo,jdbcType=VARCHAR}, #{geographic,jdbcType=VARCHAR}, 
      #{tagline,jdbcType=VARCHAR}, #{credentialno,jdbcType=VARCHAR}, 
      #{credentialtype,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{officephone,jdbcType=VARCHAR}, #{facebook,jdbcType=VARCHAR}, #{googleplus,jdbcType=VARCHAR}, 
      #{companydiscription,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{lastlogintime,jdbcType=TIMESTAMP}, 
      #{lastupdatetime,jdbcType=TIMESTAMP}, #{lastloginpictype,jdbcType=VARCHAR}, #{lastloginpicid,jdbcType=VARCHAR}, 
      #{logintimes,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{rejectReason,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.exl_si.db.SIMerchant">
    insert into si_merchant
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="companyname != null">
        companyName,
      </if>
      <if test="companyregno != null">
        companyRegNo,
      </if>
      <if test="totalstaff != null">
        totalStaff,
      </if>
      <if test="companytype != null">
        companyType,
      </if>
      <if test="industrytype != null">
        industryType,
      </if>
      <if test="companyaddress != null">
        companyAddress,
      </if>
      <if test="expireddatessm != null">
        expiredDateSSM,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="usertitle != null">
        userTitle,
      </if>
      <if test="realname != null">
        realName,
      </if>
      <if test="dob != null">
        dob,
      </if>
      <if test="companylogo != null">
        companyLogo,
      </if>
      <if test="geographic != null">
        geographic,
      </if>
      <if test="tagline != null">
        tagline,
      </if>
      <if test="credentialno != null">
        credentialNo,
      </if>
      <if test="credentialtype != null">
        credentialType,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="officephone != null">
        officePhone,
      </if>
      <if test="facebook != null">
        facebook,
      </if>
      <if test="googleplus != null">
        googlePlus,
      </if>
      <if test="companydiscription != null">
        companyDiscription,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="lastlogintime != null">
        lastLoginTime,
      </if>
      <if test="lastupdatetime != null">
        lastUpdateTime,
      </if>
      <if test="lastloginpictype != null">
        lastLoginPICType,
      </if>
      <if test="lastloginpicid != null">
        lastLoginPICId,
      </if>
      <if test="logintimes != null">
        loginTimes,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="rejectReason != null">
        reject_reason,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="companyname != null">
        #{companyname,jdbcType=VARCHAR},
      </if>
      <if test="companyregno != null">
        #{companyregno,jdbcType=VARCHAR},
      </if>
      <if test="totalstaff != null">
        #{totalstaff,jdbcType=INTEGER},
      </if>
      <if test="companytype != null">
        #{companytype,jdbcType=VARCHAR},
      </if>
      <if test="industrytype != null">
        #{industrytype,jdbcType=VARCHAR},
      </if>
      <if test="companyaddress != null">
        #{companyaddress,jdbcType=VARCHAR},
      </if>
      <if test="expireddatessm != null">
        #{expireddatessm,jdbcType=TIMESTAMP},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="usertitle != null">
        #{usertitle,jdbcType=VARCHAR},
      </if>
      <if test="realname != null">
        #{realname,jdbcType=VARCHAR},
      </if>
      <if test="dob != null">
        #{dob,jdbcType=DATE},
      </if>
      <if test="companylogo != null">
        #{companylogo,jdbcType=VARCHAR},
      </if>
      <if test="geographic != null">
        #{geographic,jdbcType=VARCHAR},
      </if>
      <if test="tagline != null">
        #{tagline,jdbcType=VARCHAR},
      </if>
      <if test="credentialno != null">
        #{credentialno,jdbcType=VARCHAR},
      </if>
      <if test="credentialtype != null">
        #{credentialtype,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="officephone != null">
        #{officephone,jdbcType=VARCHAR},
      </if>
      <if test="facebook != null">
        #{facebook,jdbcType=VARCHAR},
      </if>
      <if test="googleplus != null">
        #{googleplus,jdbcType=VARCHAR},
      </if>
      <if test="companydiscription != null">
        #{companydiscription,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastlogintime != null">
        #{lastlogintime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastupdatetime != null">
        #{lastupdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastloginpictype != null">
        #{lastloginpictype,jdbcType=VARCHAR},
      </if>
      <if test="lastloginpicid != null">
        #{lastloginpicid,jdbcType=VARCHAR},
      </if>
      <if test="logintimes != null">
        #{logintimes,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="rejectReason != null">
        #{rejectReason,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.exl_si.db.SIMerchant">
    update si_merchant
    <set>
      <if test="companyname != null">
        companyName = #{companyname,jdbcType=VARCHAR},
      </if>
      <if test="companyregno != null">
        companyRegNo = #{companyregno,jdbcType=VARCHAR},
      </if>
      <if test="totalstaff != null">
        totalStaff = #{totalstaff,jdbcType=INTEGER},
      </if>
      <if test="companytype != null">
        companyType = #{companytype,jdbcType=VARCHAR},
      </if>
      <if test="industrytype != null">
        industryType = #{industrytype,jdbcType=VARCHAR},
      </if>
      <if test="companyaddress != null">
        companyAddress = #{companyaddress,jdbcType=VARCHAR},
      </if>
      <if test="expireddatessm != null">
        expiredDateSSM = #{expireddatessm,jdbcType=TIMESTAMP},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="usertitle != null">
        userTitle = #{usertitle,jdbcType=VARCHAR},
      </if>
      <if test="realname != null">
        realName = #{realname,jdbcType=VARCHAR},
      </if>
      <if test="dob != null">
        dob = #{dob,jdbcType=DATE},
      </if>
      <if test="companylogo != null">
        companyLogo = #{companylogo,jdbcType=VARCHAR},
      </if>
       <if test="geographic != null">
        geographic = #{geographic,jdbcType=VARCHAR},
      </if>
      <if test="tagline != null">
        tagline = #{tagline,jdbcType=VARCHAR},
      </if>
      <if test="credentialno != null">
        credentialNo = #{credentialno,jdbcType=VARCHAR},
      </if>
      <if test="credentialtype != null">
        credentialType = #{credentialtype,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="officephone != null">
        officePhone = #{officephone,jdbcType=VARCHAR},
      </if>
      <if test="facebook != null">
        facebook = #{facebook,jdbcType=VARCHAR},
      </if>
      <if test="googleplus != null">
        googlePlus = #{googleplus,jdbcType=VARCHAR},
      </if>
      <if test="companydiscription != null">
        companyDiscription = #{companydiscription,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastlogintime != null">
        lastLoginTime = #{lastlogintime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastupdatetime != null">
        lastUpdateTime = #{lastupdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastloginpictype != null">
        lastLoginPICType = #{lastloginpictype,jdbcType=VARCHAR},
      </if>
      <if test="lastloginpicid != null">
        lastLoginPICId = #{lastloginpicid,jdbcType=VARCHAR},
      </if>
      <if test="logintimes != null">
        loginTimes = #{logintimes,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="rejectReason != null">
        reject_reason = #{rejectReason,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.exl_si.db.SIMerchant">
    update si_merchant
    set companyName = #{companyname,jdbcType=VARCHAR},
      companyRegNo = #{companyregno,jdbcType=VARCHAR},
      totalStaff = #{totalstaff,jdbcType=INTEGER},
      companyType = #{companytype,jdbcType=VARCHAR},
      industryType = #{industrytype,jdbcType=VARCHAR},
      companyAddress = #{companyaddress,jdbcType=VARCHAR},
      expiredDateSSM = #{expireddatessm,jdbcType=TIMESTAMP},
      username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      userTitle = #{usertitle,jdbcType=VARCHAR},
      realName = #{realname,jdbcType=VARCHAR},
      dob = #{dob,jdbcType=DATE},
      companyLogo = #{companylogo,jdbcType=VARCHAR},
      geographic = #{geographic,jdbcType=VARCHAR},
      tagline = #{tagline,jdbcType=VARCHAR},
      credentialNo = #{credentialno,jdbcType=VARCHAR},
      credentialType = #{credentialType,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      officePhone = #{officephone,jdbcType=VARCHAR},
      facebook = #{facebook,jdbcType=VARCHAR},
      googlePlus = #{googleplus,jdbcType=VARCHAR},
      companyDiscription = #{companydiscription,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      lastLoginTime = #{lastlogintime,jdbcType=TIMESTAMP},
      lastUpdateTime = #{lastupdatetime,jdbcType=TIMESTAMP},
      lastLoginPICType = #{lastloginpictype,jdbcType=VARCHAR},
      lastLoginPICId = #{lastloginpicid,jdbcType=VARCHAR},
      loginTimes = #{logintimes,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      reject_reason = #{rejectReason,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  
  <!-- created -->
  <select id="selectAll" resultMap="BaseResultMap">
  	 select 
	 <include refid="Base_Column_List" />
	 from si_merchant order by createTime desc
  </select>
  <select id="selectByPropertiesSelelctives" parameterType="map" resultMap="BaseResultMap">
  	 select 
	 <include refid="Base_Column_List" />
	 from si_merchant 
	 where 1 = 1
	 <if test="start != null">
	   and createTime <![CDATA[ >= ]]> #{start,jdbcType=TIMESTAMP} 
     </if> 
     <if test="end != null"> 
       and createTime <![CDATA[ <= ]]> #{end,jdbcType=TIMESTAMP}
     </if>
     <if test="status != null"> 
       and status <![CDATA[ = ]]> #{status,jdbcType=TIMESTAMP}
     </if>
	 order by createTime desc
  </select>
  <select id="selectByUsernameAndPass" parameterType="map" resultMap="BaseResultMap">
  	 select 
	 <include refid="Base_Column_List" />
	 from si_merchant 
	 where username = #{username,jdbcType=VARCHAR} and password = #{password,jdbcType=VARCHAR};
  </select>
  <select id="selectByUsername" parameterType="map" resultMap="BaseResultMap">
  	 select 
	 <include refid="Base_Column_List" />
	 from si_merchant 
	 where username = #{username,jdbcType=VARCHAR};
  </select>
  <select id="login" parameterType="map" resultMap="BaseResultMap">
  	 select 
	 <include refid="Base_Column_List" />
	 from si_merchant 
	 where username = #{username,jdbcType=VARCHAR} and password = #{password,jdbcType=VARCHAR}
  </select>
</mapper>