<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exl_si.mapper.SIMerchantDOCMapper">
  <resultMap id="BaseResultMap" type="com.exl_si.db.SIMerchantDOC">
    <constructor>
      <idArg column="id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="merchantId" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="type" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="indx" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="name_old" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="name_new" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="path" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, merchantId, type, indx, name_old, name_new, path
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from si_merchant_doc
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from si_merchant_doc
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.exl_si.db.SIMerchantDOC">
    insert into si_merchant_doc (id, merchantId, type, 
      indx, name_old, name_new, 
      path)
    values (#{id,jdbcType=VARCHAR}, #{merchantId,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{indx,jdbcType=INTEGER}, #{nameOld,jdbcType=VARCHAR}, #{nameNew,jdbcType=VARCHAR}, 
      #{path,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.exl_si.db.SIMerchantDOC">
    insert into si_merchant_doc
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="merchantId != null">
        merchantId,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="indx != null">
        indx,
      </if>
      <if test="nameOld != null">
        name_old,
      </if>
      <if test="nameNew != null">
        name_new,
      </if>
      <if test="path != null">
        path,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="merchantId != null">
        #{merchantId,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="indx != null">
        #{indx,jdbcType=INTEGER},
      </if>
      <if test="nameOld != null">
        #{nameOld,jdbcType=VARCHAR},
      </if>
      <if test="nameNew != null">
        #{nameNew,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.exl_si.db.SIMerchantDOC">
    update si_merchant_doc
    <set>
      <if test="merchantId != null">
        merchantId = #{merchantId,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="indx != null">
        indx = #{indx,jdbcType=INTEGER},
      </if>
      <if test="nameOld != null">
        name_old = #{nameOld,jdbcType=VARCHAR},
      </if>
      <if test="nameNew != null">
        name_new = #{nameNew,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        path = #{path,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.exl_si.db.SIMerchantDOC">
    update si_merchant_doc
    set merchantId = #{merchantId,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      indx = #{indx,jdbcType=INTEGER},
      name_old = #{nameOld,jdbcType=VARCHAR},
      name_new = #{nameNew,jdbcType=VARCHAR},
      path = #{path,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
	<!-- created -->
	<insert id="batchInsert" parameterType="list">
	    insert into si_merchant_doc 
		(
			id, 
			merchantId, 
			type, 
			indx, 
      		path,
      		name_old,
      		name_new
      	)
	    values
	    <foreach collection="items" index="index" item="item" separator=",">
	      (
	      	  #{item.id},
		      #{item.merchantId},
		      #{item.type},
		      #{item.indx},
		      #{item.path},
		      #{item.nameOld},
		      #{item.nameNew}
	      )
	    </foreach>
	</insert>
	<select id="selectByMerchantIdAndType" parameterType="map" resultMap="BaseResultMap">
	    select 
	    <include refid="Base_Column_List" />
	    from si_merchant_doc
	    where merchantId = #{merchantId,jdbcType=VARCHAR} 
	    <if test="type != null">
        	and type = #{type,jdbcType=VARCHAR}
      	</if>
	</select>
</mapper>