.darkbluenavbar {
    min-height: 45px!important;
    background: #132436!important;
}

.navbar-brand2 {
	padding-top: 6px!important;
    padding-bottom: 1px!important;
}

.nav-list2>li>a {
    font-size: 12px!important;
}